<h1>Rate: <small><%= @bottle.vintage %> <%= @bottle.vineyard ? @bottle.vineyard.capitalize : '' %> <%= @bottle.label %> ( <%= @bottle.varietal %> )</small></h1>

<%= render 'form' %>

<%= link_to 'Back', bottles_path %>
