<!DOCTYPE html>
<html>
<head>
  <title>RelaWine Collection</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
<!--  <%= javascript_include_tag "http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/jquery.dataTables.min.js" %> -->
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
RelaWine
</header>

<%= yield %>

</body>
</html>
