<!DOCTYPE html>
<html>
<head>
  <title>Relihan Wine Collection</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
Relihan Wine Collection
</header>

<%= yield %>

</body>
</html>
